### Imports

In [5]:
import os
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

In [6]:
input_folder = '../comodity-price-prediction-penyisihan-arkavidia-9/'

In [7]:
os.listdir(input_folder)

['Google Trend',
 '.DS_Store',
 'Harga Bahan Pangan',
 'Mata Uang',
 'Global Commodity Price']

### Mata Uang

In [8]:
mata_uang_folder = input_folder + '/Mata Uang'
os.listdir(mata_uang_folder)

['MYRUSD=X.csv', 'THBUSD=X.csv', 'USDIDR=X.csv', 'SGDUSD=X.csv']

In [9]:
usd_idr = pd.read_csv(mata_uang_folder + '/USDIDR=X.csv')

In [10]:
usd_idr.head(10)

,Date,Adj Close,Close,High,Low,Open,Volume
0,2022-01-03,14215.000000,14215.000000,14301.299805,14207.500000,14246.000000,0
1,2022-01-04,14283.599609,14283.599609,14383.299805,14259.000000,14303.700195,0
2,2022-01-05,14385.500000,14385.500000,14398.500000,14336.700195,14346.400391,0
3,2022-01-06,14446.500000,14446.500000,14445.799805,14351.000000,14445.799805,0
4,2022-01-07,14408.000000,14408.000000,14408.000000,14320.500000,14408.000000,0
5,2022-01-10,14318.500000,14318.500000,14351.000000,14262.299805,14351.000000,0
6,2022-01-11,14313.000000,14313.000000,14322.299805,14251.389648,14312.000000,0
7,2022-01-12,14277.000000,14277.000000,14355.500000,14257.500000,14303.000000,0
8,2022-01-13,14298.900391,14298.900391,14326.200195,14266.000000,14321.500000,0
9,2022-01-14,14276.000000,14276.000000,14324.299805,14239.450195,14273.000000,0

In [11]:
# Volume Column 
usd_idr['Volume'].mean()

0.0

In [12]:
usd_idr.drop(columns=['Volume'], inplace=True)

In [17]:
for csv in os.listdir(mata_uang_folder):
    path = f'{mata_uang_folder}/{csv}'
    df = pd.read_csv(path)
    df.drop(columns=['Volume'])

    print(csv.split('=')[0])
    print(df.head())

MYRUSD
         Date  Adj Close     Close      High       Low      Open  Volume
0  2022-01-03   0.239521  0.239521  0.240038  0.239722  0.240038       0
1  2022-01-04   0.239808  0.239808  0.239751  0.239006  0.239406       0
2  2022-01-05   0.239006  0.239006  0.238949  0.238521  0.238949       0
3  2022-01-06   0.238550  0.238550  0.238550  0.237473  0.238436       0
4  2022-01-07   0.237473  0.237473  0.238095  0.237248  0.237248       0
THBUSD
         Date  Adj Close     Close      High       Low      Open  Volume
0  2022-01-03   0.030201  0.030201  0.030216  0.029976  0.030189       0
1  2022-01-04   0.030082  0.030082  0.030125  0.029979  0.030082       0
2  2022-01-05   0.030083  0.030083  0.030234  0.030048  0.030095       0
3  2022-01-06   0.030077  0.030077  0.030125  0.029771  0.030101       0
4  2022-01-07   0.029804  0.029804  0.029877  0.029652  0.029804       0
USDIDR
         Date     Adj Close         Close          High           Low  \
0  2022-01-03  14215.000000  14215.000000  14301.299805  14207.500000
1  2022-01-04  14283.599609  14283.599609  14383.299805  14259.000000
2  2022-01-05  14385.500000  14385.500000  14398.500000  14336.700195
3  2022-01-06  14446.500000  14446.500000  14445.799805  14351.000000
4  2022-01-07  14408.000000  14408.000000  14408.000000  14320.500000

           Open  Volume
0  14246.000000       0
1  14303.700195       0
2  14346.400391       0
3  14445.799805       0
4  14408.000000       0
SGDUSD
         Date  Adj Close     Close      High       Low      Open  Volume
0  2022-01-03   0.741730  0.741730  0.742115  0.738531  0.741713       0
1  2022-01-04   0.739033  0.739033  0.739481  0.736269  0.739044       0
2  2022-01-05   0.737621  0.737621  0.738880  0.737148  0.737844       0
3  2022-01-06   0.736534  0.736534  0.737354  0.734549  0.736534       0
4  2022-01-07   0.734786  0.734786  0.737708  0.734619  0.734819       0