In [1]:
import os
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

In [2]:
input_folder = '../comodity-price-prediction-penyisihan-arkavidia-9/Global Commodity Price'
os.listdir(input_folder)

['US Sugar 11 Futures Historical Data.csv',
 'Natural Gas Futures Historical Data.csv',
 'US Wheat Futures Historical Data.csv',
 'Crude Oil WTI Futures Historical Data.csv',
 'Palm Oil Futures Historical Data.csv',
 'Newcastle Coal Futures Historical Data.csv']

##### Single CSV Anayslis

In [3]:
path_example = f'{input_folder}/US Sugar 11 Futures Historical Data.csv'

##### Data Information

Feature Explanation

- Date: Information Date for each row
- Price: Ending price for that day
- Open: Price for the commodity openning price for the date
- High: Highest price for the date
- Low: Lowest price for the date
- Vol: Number of trades and transactions for that commodity
- Change: Change Percentage from open to ending price

In [5]:
df = pd.read_csv(path_example)

df.head()

         Date  Price   Open   High    Low    Vol. Change %
0  2024-09-30  22.67  22.70  22.84  22.10  18.86K   -0.53%
1  2024-09-27  22.79  23.22  23.22  22.51  32.86K   -2.23%
2  2024-09-26  23.31  23.58  23.71  23.23  23.47K   -0.47%
3  2024-09-25  23.42  22.99  23.57  22.90  32.17K    1.30%
4  2024-09-24  23.12  22.50  23.30  22.38  38.33K    2.53%