In [1]:
import os
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

In [2]:
input_folder = '../comodity-price-prediction-penyisihan-arkavidia-9/Google Trend'
os.listdir(input_folder)

['cabai rawit',
 'daging ayam',
 'bawang merah',
 'tepung',
 'cabai',
 'bawang putih',
 'daging sapi',
 'daging',
 'minyak goreng',
 'tepung terigu',
 'gula',
 'beras',
 'cabai merah',
 'bawang',
 'telur ayam']

Analysis

In [4]:
path_example = f'{input_folder}/bawang/DKI Jakarta.csv'

In [6]:
df = pd.read_csv(path_example)
df.head()

         Date     bawang
0  2022-01-01  43.997122
1  2022-01-02  44.974836
2  2022-01-03  63.551398
3  2022-01-04  51.818832
4  2022-01-05  50.841119